# .gitignore
/bin
/bld
/.vs
/bower_components
/node_modules
/platforms/android/phonegap-facebook-plugin/myapp889af8-FacebookLib/build
/platforms/android/assets/www
/platforms/android/.gradle
/platforms/android/build
/platforms/android/CordovaLib/build
/platforms/android/com.phonegap.plugins.facebookconnect/myapp889af8-FacebookLib/build
/platforms/ios
/platforms/platforms.json
/plugins/ios.json